.container {
    padding-top: 80px;
    min-height: 648px;
    padding-bottom: 50px;
}
.article-nav{
    width: 100%;
    max-width: 990px;
    margin: 20px auto 0;
    display: block;
    padding: 0;
}
.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.list-inline li {
    display: inline-block;
    zoom: 1;
    font-size: 14px;
}
.list-inline li a {
    font-size: 14px;
    color: #000000;
    line-height: 14px;
}
.list-inline li:first-child a .icon-login-left {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    vertical-align: top;
    background-position: -52px -20px;
}
.divider{
    margin: 0 7px;
    box-sizing: border-box;
}
.list-inline li:last-child a {
    color: #888;
}
.article-content{
    padding: 0;
    width: 100%;
    max-width: 990px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.login-left {
    max-width: inherit;
    width: 55.4%;
    padding-right: 16.6%;
    float: left;
    border-right: 2px solid #EBEBEB;
    min-height: 310px;
    box-sizing: border-box;
}
.login-box {
    max-width: 410px;
    box-sizing: border-box;
}
.login-box h4 {
    font-size: 24px;
    color: #000000;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}
.form-input {
    margin-bottom: 20px;
    position: relative;
}
.form-input input{
    width: 100%;
    height: 40px;
    line-height: 16px;
    background: #FFFFFF;
    border: 1px solid #C8CBCC;
    padding: 0px 10px;
    font-size: 14px;
    color: #000;
    box-sizing: border-box;
}
.form-input input:focus{
    border: 1px solid #C8CBCC;
    border-bottom: 3px solid #000;
    padding-top: 2px;
}
.msg-block {
    display: none;
    font-size: 0;
    margin-top: 4px;
    padding-left: 10px;
    text-align: left;
    color: #737373;
}
/* 请输入正确的邮箱提示 */
.msg-icon {
    display: none;
}
.msg-block span {
    font-size: 12px;
    color: #FF6D6D !important;
    line-height: 14px;
}
.login-remember {
    margin-bottom: 40px;
}
.login-remember label.form-remember {
    display: block;
    line-height: 24px;
    cursor: pointer;
    display: inline-block !important;
}
.icon-checked {
    vertical-align: middle;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background-position: -432px -50px;
    cursor: pointer;
}
.login-btn{
    cursor: pointer;
    font-size: 18px;
    color: #FFF;
    background: #0286CD;
    border: 0px solid #0286CD;
    min-width: 143px;
    padding: 0 30px 0 4px;
    height: 42px;
    line-height: 42px;
    float: left;
    width: 100%;
    max-width: inherit;
}
.login-btn span {
    position: relative;
}
.login-btn span:after {
    position: absolute;
    display: block;
    content: "";
    line-height: 1;
    z-index: 1;
    top: 3px;
    right: -26px;
    width: 16px;
    height: 16px;
    background: url(../images/icon.png);
    background-position: -120px -20px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
.forget {
    display: inline-block;
    font-size: 14px;
    color: #0286CD;
    line-height: 14px;
    margin-top: 10px;
}
/* 其他登录方式 */
.login-part{
    margin-top: 20px;
}
.login-part-title{
    font-size: 14px;
    color: #000000;
    line-height: 14px;
    width: 100%;
    border-top: 1px dashed #C8CBCC;
    padding: 20px 0;
}
.list-inline-login{
    margin-bottom: 13px;
    list-style: none;
    padding: 0;
    font-size: 0;
}
.list-inline-login li{
    margin-right: 16px;
    display: inline-block;
    zoom: 1;
    font-size: 14px;
}
.list-inline-login li a {
    font-size: 14px;
    color: #000000;
    line-height: 14px;
}
.icon-weixin {
    width: 42px;
    height: 42px;
    background-position: -776px -266px;
}
.icon-qq {
    width: 42px;
    height: 42px;
    background-position: -838px -266px;
}
.icon-alipay {
    width: 42px;
    height: 42px;
    background-position: -903px -266px;
}
.icon-weibo {
    width: 42px;
    height: 42px;
    background-position: -958px -266px;
}
.login-part-title-bottom{
    font-size: 12px;
    color: #888888;
    line-height: 12px;
    margin-bottom: 12px;
}
.register-right{
    float: right;
    max-width: 308px;
    width: 33.5%;
}
.register-right .login-box h4{
    font-size: 18px;
} 
.register-right-tltle{
    font-size: 14px;
    color: #000;
    line-height: 18px;
}
.register-inner {
    margin: 40px 0 20px;
}
.register-inner div {
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    margin-bottom: 11px;
}
.icon-conform {
    width: 20px;
    height: 15px;
    background-position: -272px -19px;
    vertical-align: baseline;
    margin-right: 10px;
}
.register-inner div span {
    vertical-align: top;
    display: inline-block;
    font-weight: bolder;
}
.register-right-explain {
    margin-bottom: 20px;
}
.register-right-btn{
    max-width: 300px;
}
.register-btn{
    width: 100%;
    max-width: inherit;
    height: 42px;
    line-height: 42px;
    padding: 0 30px 0 4px;
    font-size: 18px;
    color: #FFF;
    background: #0286CD;
    border: 0px solid #0286CD;
    min-width: 143px;
    letter-spacing: 1px;
    cursor: pointer;
}
.register-btn a{
    display: inline-block;
    width:100%;;
}
.register-btn span{
    position: relative;
}
.register-btn span:after {
    position: absolute;
    display: block;
    content: "";
    line-height: 1;
    z-index: 1;
    top: 3px;
    right: -26px;
    width: 16px;
    height: 16px;
    background: url(../images/icon.png);
    background-position: -120px -20px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out
}